/* pulsation animation*/
@keyframes pulsate {  
  0% { color: #fff; }
  50% { color: #0c0000; }
  100% { color: #fff; }
}
@-webkit-keyframes pulsate {
  0% { color: #fff; }
  50% { color: #0c0000; }
  100% { color: #fff; }
}
@-moz-keyframes pulsate {
  0% { color: #fff; }
  50% { color: #0c0000; }
  100% { color: #fff; }
}
.pulsate {
  -webkit-animation: pulsate 1.39s linear 6;
  -moz-animation: pulsate 1.39s linear 6;
  animation: pulsate 1.39s linear 6;
}

/* progress bar animation*/
@keyframes shrink {  
  0% { width: 170px; }
  100% { width: 40px; }
}
@-webkit-keyframes shrink {
  0% { width: 170px; }
  100% { width: 40px; }
}
@-moz-keyframes shrink {
  0% { width: 170px; }
  100% { width: 40px; }
}
.shrink {
  -webkit-animation: shrink 7.6s linear 1;
  -moz-animation: shrink 7.6s linear 1;
  animation: shrink 7.6s linear 1;
  /* fill mode both to ensure the bar stays at 40px*/
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode:both;
}

/* scroll up animation*/
@-webkit-keyframes scrollUp {
  0% { -webkit-transform: translateY(0px); }
  100% { -webkit-transform: translateY(-2300px); }
}
@-moz-keyframes scrollUp {
  0% { -moz-transform: translateY(0px); }
  100% { -moz-transform: translateY(-2300px); }
}
@keyframes scrollUp {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-2300px); }
}
.scrollUp {
  -webkit-animation: scrollUp 8.5s linear 1;
  -moz-animation: scrollUp 8.5s linear 1;
  animation: scrollUp 8.5s linear 1;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode:both;
}


/* main form styles*/
form input, form div p, form div span { padding: 0; margin: 0;}

form {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 204px;
  height: 112px;

  font: normal 12px/150% Tahoma, Verdana, Arial, sans-serif;
  background-image: url(dxice.png);
  color: #ccc9be;
  z-index: 10001;
}
/*everything inside the form is absolutely positioned relative to this div */
form div { position: relative; }

/*p contains the overlayed state text*/
#state {
  position: absolute;
  top: 33px;
  left: 19px;
  width: 170px;

  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background: #0c0000;
  text-align: center;
}
/* garbage text container*/
#code {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 171px;
  height: 49px;

  overflow: hidden;
  color: #eee;
}
#scroller {
  width: 170px;
  white-space: pre-wrap;
}

/* progress bar*/
#progress {
  position: absolute;
  top: 71px;
  left: 18px;
  width: 170px;
  height: 12px;

  background: #0f0;
}
/* the hack button */
#hacker {
  position: absolute;
  bottom: 8px;
  right: 14px;
  width: 45px;
  height: 16px;
  border: 0px;

  font-weight: bold;
  font-size: 11px;
  color: #c00;
  background-image: url(dxbtnred.png);
  background-color: #310000;  
  
}
#hacker:hover { color: #f00; }
#hacker:active:not(:disabled) { bottom:7px; }
#hacker:disabled { color: #500; }
