form input, p, b { padding: 0;margin: 0;}
body { font: normal 12px/150% Tahoma, Verdana, Arial, sans-serif; color: #ccc9be; }

form {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(dxice.png);
  width: 204px;
  height: 112px;
  z-index: 10001
}
/*everything inside the form is absolutely positioned relative to this div */
form div { position: relative; }
form div p {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background:#0c0000;
  top: 33px;
  left: 19px;
  width: 170px;
}
form div span {
  position: absolute;
  top: 19px;
  left: 19px;
  width: 165px;
  height: 47px;
  overflow:hidden;
  color: #eee;
}
form div b {
  position: absolute;
  top: 71px;
  left: 18px;
  background: #0f0;
  width: 170px;
  height: 12px;
}
form input {
  position: absolute;
  right: 14px;
  bottom: 8px;
  font-weight: bold;
  font-size: 11px;
  background-image: url(dxbtnred.png);
  color: #c00;
  border: 0px;
  width: 45px;
  height: 16px;
  background-color: #310000;
}
form input:hover { color: #f00}
